/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0A192F;
} */
/* a {
    text-decoration: none;
}
a:link {
    color:wheat
} */
/* SF Mono, Fira Code, Fira Mono, Roboto Mono, Mono Space
size 13 */
/* 
header {
    background: red;
    display: flex;
    height: 70px;
    

}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: blue;
    
}
div {
    width: 100%;
}
ol {
    background: red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
} */

/* main {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
} */

/* span {

    display: flex;
} */